@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root {
    --primary-color: #2563EB;
    --grey-color: #FFFBEB;
    --brown-color: #991B1B;
    --black-color: #6B7280;
    --yellow-color: #FCD34D;
}
body {
    font-family: 'Caveat', cursive;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('./minion.jpg');
    background-size: cover;
}

.hero {
    padding-block: 0rem;
    padding-top: 0rem;
}

.hero .hero-heading {
    text-align: center;
    font-size: 4rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: var(--yellow-color);
}

#txt-input, #output {
    margin: auto;
    display: block;
    padding: 1rem;
    width: 60%;
    height: 12vh;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    border-width: 0.1rem;    
    border-color: var(--black-color);
    border-radius: 0.78rem;
    background-color: var(--grey-color);
    opacity: 0.75;
}

button {
    font-family: 'Caveat', cursive;
    display: block;
    margin: 0rem auto;
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    color: var(--black-color);
}
.footer {

    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--yellow-color);
    font-size: 1.3rem;
    text-align: center;
}
 