:root {
    --primary-color: #60A5FA;
    --grey-color: #FFFBEB;
    --brown-color: #991B1B;
    --black-color: #6B7280;
    --yellow-color: #FCD34D;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('./minion.jpg');
    background-size: cover;
}

/* .navigation {
    background-color: var(--primary-color);
    color: var(--brown-color);
    margin: 0;
} */

.hero {
    padding-block: 0rem;
    padding-top: 0rem;
}

.hero .hero-heading {
    text-align: center;
    font-size: 4rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: var(--yellow-color);
}

#txt-input,
#output {
    margin: auto;
    display: block;
    padding: 1rem;
    width: 60%;
    height: 13vh;
    font-size: 1.5rem;
    border-width: 0.1rem;
    border-color: var(--black-color);
    border-radius: 0.78rem;
    background-color: var(--grey-color);
    opacity: 0.75;
}

button {
    display: block;
    margin: 0rem auto;
    padding: 0.8rem;
    font-size: 1rem;
    /* font-family: 'Caveat', cursive; */
    /* text-transform: uppercase; */
    border-radius: 1rem;
    color: var(--black-color)
}
.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    /* color:; */
}
